/* normalization start */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a
{
    text-decoration: none;
    color: black;
}

ul{list-style: none;}

/* normalization end */



/* main css start */



/* main css end */