/* Imports start */
@import url('../css/header.css');
/* Imports end */

/* normalization start */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a, i
{
    cursor: pointer;
    transition: .5s;
}

a
{
    width: 100%;
    text-decoration: none;
    color: white;
    padding: .5rem 1rem;
}

ul{list-style: none;}

/* normalization end */



/* main css start */

#map { height: calc(100vh - 64px); } /* mapa zajmuje prawie cały ekran */



/* main css end */